<h1>テストPages#info</h1>
<div class="input-group input-group-lg">
	<span class="input-group-addon">大</span>
	<input type="text" class="form-control" placeholder="input-group-lg">
</div>
<br>
<div class="input-group">
	<span class="input-group-addon">通常</span>
	<input type="text" class="form-control" placeholder="">
</div>
<br>
<div class="input-group input-group-sm">
	<span class="input-group-addon">小</span>
	<input type="text" class="form-control" placeholder="input-group-sm">
</div>
